{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/forbid-prop-types": "off",
    "arrow-parens": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
