{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/forbid-prop-types": "off",
    "arrow-parens": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments": "off"
  }
}
