@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "banner"
    "albums";
  grid-row-gap: 10px;

  .banner {
    grid-area: banner;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner";
    height: 20%;

    .image-container {
      grid-area: banner;
      width: 100%;
      background-color: $faintgray;
      padding: 20px 0;

      img {
        display: block;
        margin: auto;
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }

    .title {
      grid-area: banner;
      align-self: end;
      @include large-title;
      margin: 0 0 10px 10px;
    }
  }

  .albums {
    grid-area: albums;
    @include album-grid;
  }
}

:global(.dark-theme) {
  .container {
    .banner {
      .image-container {
        background-color: $darkgray;

        img {
          filter: brightness(90%);
        }
      }

      .title {
        color: $dullwhite;
      }
    }
  }
}
