@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "banner banner"
    "latest-release top-songs"
    "albums albums"
    "music-videos music-videos";
  grid-row-gap: 10px;

  .banner {
    grid-area: banner;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner";
    height: 20%;

    .image-container {
      grid-area: banner;
      width: 100%;
      background-color: $faintgray;
      padding: 20px 0;

      img {
        display: block;
        margin: auto;
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }

    .title {
      grid-area: banner;
      align-self: end;
      @include large-title;
      margin: 0 0 10px 10px;
    }
  }

  .title {
    @include large-title;
    font-size: 1em;
  }

  .latest-release-container {
    grid-area: latest-release;
    
    .latest-release {
      @include album-grid;
    }
  }

  .top-songs-container {
    grid-area: top-songs;
    overflow: hidden;

    .songs {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: auto auto auto;
      grid-template-columns: repeat(500, 400px);
      overflow-x: auto;
      overflow-y: hidden;
      grid-row-gap: 8px;
      grid-column-gap: 5px;
    }
  }

  .albums-container {
    grid-area: albums;
    .albums {
      grid-area: albums;
      @include album-grid;
    }
  }

  .music-videos-container {
    grid-area: music-videos;
    overflow-x: scroll;
    overflow-y: hidden;

    .music-videos {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 8px;
      grid-template-columns: repeat(200, minmax(300px, 400px));
    }
  }

  .current-music-video {
    display: grid;
    grid-template-areas:
      "title title"
      "metadata video";
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 10px;

    .title {
      grid-area: title;
    }

    video {
      grid-area: video;
      justify-self: stretch;
      background-color: black;
    }

    .metadata {
      grid-area: metadata;
    }
  }
}

:global(.dark-theme) {
  .container {
    .banner {
      .image-container {
        background-color: $darkgray;

        img {
          filter: brightness(90%);
        }
      }

      .title {
        color: $dullwhite;
      }
    }

    .title {
      color: $dullwhite;
    }
  }
}
