@import '../../stylesheets/variables.scss';

.container {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .art {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .name {
    color: $lightblack;
  }
}

:global(.dark-theme) {
  .container {
    .name {
      color: $dullwhite;
    }
  }
}
