@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "art"
    "title"
    "year";
  grid-row-gap: 4px;

  &:hover {
    cursor: pointer;
    background-color: $highlightgray;
  }

  .art {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: art;
    border-radius: 3px;
  }

  .title {
    grid-area: title;
    font-size: 0.8em;
    color: $black;
  }

  .year {
    grid-area: year;
    font-size: 0.75em;
    font-weight: 300;
    color: $gray;
  }
}

:global(.dark-theme) {
  .container {
    &:hover {
      background-color: $darkgray;
    }

    .art {
      filter: brightness(90%);
    }

    .title {
      color: $dullwhite;
    }
  }
}
