@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  align-items: center;

  .title {
    @include large-title;
  }

  .recommendation {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: auto auto 1fr;

    .line {
      align-self: stretch;
      height: 1px;
      background-color: $lightgray;
    }

    .reason {
      color: $lightgray;
      font-size: 0.9em;
      font-weight: 300;
    }

    &.two-grid {
      .content {
        grid-template-columns: 1fr 1fr;
      }
    }

    .content {
      @include album-grid;
    }
  }
}

:global(.dark-theme) {
  .container {
    .recommendation {
      .title {
        color: $dullwhite;
      }
    }
  }
}
