.container {
  display: grid;
  grid-template-areas:
    "art title"
    "description description"
    "songs songs";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
  height: 100%;

  .art {
    grid-area: art;
    width: 100px;
    height: 100px;
  }

  .title {
    grid-area: title;
    font-size: 30px;
    font-weight: 600;
  }

  .description {
    grid-area: description;
  }

  .songs {
    grid-area: songs;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 8px;
    overflow-y: scroll;
  }
}
