@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-template-areas:
    "art title"
    "art metadata"
    "description description"
    "songs songs";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-column-gap: 10px;
  overflow: hidden;
  height: 100%;

  .art {
    grid-area: art;
    width: 100px;
    height: 100px;
  }

  .title {
    grid-area: title;
    font-size: 1.6em;
    font-weight: 700;
    color: $black;
  }

  .metadata {
    grid-area: metadata;
    color: $gray;
    font-size: 0.9em;
  }

  .description {
    grid-area: description;
    color: $gray;
    font-size: 0.8em;
    font-weight: 300;
  }

  .songs {
    grid-area: songs;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 8px;
    overflow-y: scroll;
    align-items: self-start;
  }
}
