@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  grid-row-gap: 8px;
  height: 100%;

  .title {
    @include large-title;
  }

  .group-title {
    font-size: 0.8em;
    font-weight: 700;
    color: $lightblack;
  }
}
