.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 8vw;

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    border-radius: 5;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
  
    &__footer {
      margin-top: 8px;
  
      &__close {
        width: 100%;
      }
    }
  }
}
