@import './variables.scss';

@mixin large-title {
  font-size: 1.6em;
  font-weight: 700;
  color: $black;
}

@mixin album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 200px));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
