@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-template-areas:
    "art title title explicit"
    "art artist album album";
  grid-template-columns: auto auto auto 1fr;
  grid-column-gap: 8px;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: $highlightgray;
  }

  .art {
    grid-area: art;
    width: 40px;
    height: 40px;
    border-radius: 3px;
  }

  .title {
    grid-area: title;
    font-size: 0.9em;
    color: $black;
  }

  .artist {
    grid-area: artist;
    font-size: 0.75em;
    font-weight: 300;
    color: $gray;
  }

  .album {
    grid-area: album;
    font-size: 0.75em;
    font-weight: 300;
    color: $lightgray;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

:global(.dark-theme) {
  .container {
    &:hover {
      background-color: $darkgray;
    }

    .art {
      filter: brightness(90%);
    }

    .title {
      color: $dullwhite;
    }
  }
}
