@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  align-items: center;
  justify-items: center;

  span {
    @include large-title;
    color: $red;
  }
}
