@import '../../stylesheets/variables.scss';

.container {
  display: grid;
  grid-auto-flow: row;
  overflow-y: scroll;
  grid-row-gap: 10px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "library" "playlists";
  background-color: $faintgray;
  padding: 10px 20px 10px 20px;
  overflow-y: scroll;

  .section {
    display: flex;
    flex-direction: column;

    span {
      font-size: 0.75em;
      margin-bottom: 8px;
      color: $lightblack;

      &.title {
        font-weight: 700;
        font-size: 0.7em;
        color: $lightgray;
        margin-bottom: 10px;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      -webkit-appearance: none;
      display: block;
      border: none;
      padding: 0;
    }
  }
}
