@import '../../stylesheets/variables.scss';

.container {
  grid-area: side-menu;
  display: grid;
  grid-auto-flow: row;
  overflow-y: scroll;
  grid-row-gap: 10px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "library" "playlists";
  background-color: $faintgray;
  padding: 10px 20px 10px 20px;

  .section {
    display: flex;
    flex-direction: column;

    > * {
      font-size: 0.75em;
      margin-bottom: 8px;
      color: $lightblack;
      text-decoration: none;

      &.title {
        font-weight: 700;
        font-size: 0.7em;
        color: $lightgray;
        margin-bottom: 10px;

        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }

      &.current {
        font-weight: 700;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      -webkit-appearance: none;
      display: block;
      border: none;
      padding: 0;
    }

    &.playlists {
      overflow-y: scroll;
    }
  }
}

:global(.dark-theme) {
  .container {
    background-color: $lightblack;

    .section {
      > * {
        color: $dullwhite;

        &.title {
          color: $gray;
        }
      }
    }
  }
}
