.container {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;

  .title {
    font-weight: 700;
    text-align: center;
  }

  .track-number {
    font-family: 'SF Mono', Consolas, monospace;
  }
}
