@import '../../stylesheets/variables.scss';
@import '../../stylesheets/mixins.scss';

.container {
  grid-area: player;
  display: grid;

  grid-template-areas:
    "queue"
    "controls";
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  overflow: hidden;
  background-color: $faintgray;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;

  .queue {
    grid-area: queue;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &> .title,
    &> div { margin: 2.5px 0; }
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }

    .title {
      @include large-title;
    }

    .active {
      background-color: $highlightgray;
    }
  }

  .controls {
    grid-area: controls;
  }
}
