.container {
  display: grid;

  grid-template-areas:
    "queue queue"
    "song controls";

  .queue {
    grid-area: queue;
  }

  .song {
    grid-area: song;
  }

  .controls {
    grid-area: controls;
  }
}
