.container {
  display: grid;
  grid-template-areas:
    "header"
    "main-content";
  grid-auto-flow: row;
  grid-template-rows: auto 1fr;
  height: 100%;

  .main-content {
    grid-area: main-content;
    display: grid;
    grid-template-areas:
      "side-menu view"
      "player player";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 10px;
    overflow: hidden;
    padding: 0 20px;

    .view {
      grid-area: view;
      overflow-y: scroll;
    }

    .player {
      grid-area: player;
      padding: 20px 0;
    }
  }
}
